*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Cores Texto */

.text-color-primary{
    color: #304126 !important
}

.text-color-details{
    color: #5B933A !important
}

.text-color-white{
    color: #ffffff !important
}

/* Cores Texto */


/* Cores background */

.bg-color-primary{
    background-color: #304126 !important
}

.bg-color-details{
    background-color: #5B933A !important
}

.bg-color-details-op{
    background-color: #5b933a34 !important
}







/* Cores background */




input{
    outline: none;
    border: none
}
  
input:focus{
    outline: none;
    border: none
}

.img-header{
    background-image: url('img/IMG-HEADER.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -200px;
    
    height: 400px;
}

.overlay-header{
    background-color: #2e501a69;
    width: 100%;
    height: 400px;
    position: absolute;
    transition: 200ms;

    backdrop-filter: blur(2px);
}

.content-header{
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.align-content-search{
    z-index: 999;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.align-content-favorites{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}


.box-search{
    display: flex;
    background-color : #fff;
    padding: 5px 10px;
    border-radius: 5px;
    width: 50vw;
}

.box-search input{
    width: 100%;
}

.box-search button{
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: transparent;
}

.service-favorite{
    display: flex;
    background-color: #5b933a2c;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none !important;
    width: fit-content;
    min-width: fit-content;
    flex-direction: column;
    justify-content: center;
}

.service-favorite:hover{
    /* color: #304126; */
    background-color: #92b23363 !important;
    
}

.info-service-favorite{
    color: #304126;
    text-decoration: none;
    margin: 2px 0px;
    padding: 5px 2px;
    border-radius: 5px;
    word-break: normal;
    word-wrap: normal;
}

.info-service-favorite i{
    color: #5B933A;
}




.p-data{
    color: #93B233;
    font-size: 0.7rem;
}

.box-favorited{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
    overflow-x: auto;
}

.btn-pin{
    border-radius: 50% !important;
    padding: 3px 8px !important;
    z-index: 999 !important;

}

.btn-pin img{
    padding: 0px;
    margin: 0px;
}


.btn-pin{
    border-color: #cdcdcd48 !important;
}

.btn-pin:hover{  
    /* background-color: #92b23338 !important; */

    background: linear-gradient(315deg, #cacaca, #f0f0f0);
    box-shadow:  -1px -1px 2px #d7d7d7,
             1px 1px 2px #e9e9e9;
}


.info-service-bar{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;    
}



.info-service-favorite h6{
    font-size: 0.9rem;
}


/* servicos atalho*/
.shortcut-top-services{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.info-service-shortcut{
    display: flex !important;
    text-decoration: none !important;
    font-size: 0.8rem;
    gap: 5px;
    justify-content: center;
    align-items: center;    
}

.link-top-services{
    display: flex;
    text-decoration: none;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: 200ms;
}

.link-top-services:hover{
    box-shadow: 0px 0px 0px 4px #5b933a34;
    border: 1px solid #cdcdcd;
    transition: 400ms;
}

.box-search-services{
    display: flex;
    background-color : #fff;
    padding: 5px 10px;
    border-radius: 5px;
    width: 60%;
    border: 1px solid #cdcdcd;

}

.box-search-services:focus-within{
    border-color: #5B933A !important;
    box-shadow: 0 0 0 0.25rem #5b933a50 !important;
}

.box-search-services input{
    width: 100%;
}

.box-search-services button{
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: transparent;
}

.box-search-services button:hover{
    background-color: #cdcdcd36;
}

.search-filters{
    display: flex;
    gap: 10px;
}

.search-parameters{
    display: flex;
    gap: 5px;
    align-items: center;
    
}

.search-filters select{
    width: 40%;
}

.content-search-services{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-order-by{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 5px;
    max-width: 20%;
    border: 1px solid #cdcdcd !important; 
}

.btn-order-by:hover{
    border: 1px solid #5B933A !important;
}

.btn-order-by:focus{
    color: #fff !important;
    background-color: #5B933A !important;
}

.btn-search-mobile{}

.form-select:focus{
    border-color: #5B933A !important;
    box-shadow: 0 0 0 0.25rem #5b933a50 !important;
}

.service{
    display: flex;
    flex-direction: column-reverse;
    width : 100%;
    height: auto;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #c9d8991e;
    text-decoration: none;

    transition: 200ms;
}

.service:hover{
    transition: 200ms;
    color: #dadada !important;
    padding-top: 5px;
    box-shadow:  5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}


.info-service{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
    background-color: #00000000;
    
    border-top: 1px solid #00000015;
    border-bottom: 1px solid #00000015;
    
    justify-content: space-between;
    padding: 5px 15px;
}

.link-service{
    /* word-break: break-all; */
    color: #304126;
    text-decoration: none;
    margin-bottom: 5px;
    padding: 5px 0px;
    border-radius: 5px;
}

.link-service i{
    color: #5B933A;font-size: 1.5rem;
}

.link-service h6{
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

/* servicos atalho*/

.search-filters-mobile{
    display: none;
}

.content-main-services{
    background-color: #92b2334b;
    padding: 10px 25px;
    border-radius: 5px;

    
}


.placeholder-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



/* NavBar */
.navbar-float{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: -105px;
    z-index: 9999;
    top: 30px;
    position: sticky;
    top: 0px;

    transition: 500ms;
}



.list-links-nav{
    overflow: hidden;
    background-color: #fff;
    list-style: none;
    display: flex;
    text-decoration: none;
    gap: 25px;
    margin: 0;
    padding: 10px 25px;
    border-radius: 5px;
}

.list-links-nav i{
    color: #5B933A;
}


.list-links-nav-sticly{
    overflow: hidden;
    background-color: #5b933abb;
    color: #ffffff;
    list-style: none;
    display: flex;
    text-decoration: none;
    gap: 25px;
    margin: 0;
    padding: 10px 25px;
    width: 100%;
    backdrop-filter: blur(10px);

}

.navbar-fixed{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 9999;
    position: sticky;
    top: 0px;
    margin-top: 0px;
    margin-bottom: -45px;

    transition: 500ms;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: width 200ms linear;
}

@keyframes width {
    0%{ 
        top: -80px;
        /* width: 50%; */
    }

    100%{
        top: 0px;
        /* width: 100%; */
    }
}


/* navbar mobile */

.navbar-mobile{
    display: none !important;
}



/* NavBar */