@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

/* Cores Texto */

.text-color-primary{
    color: #304126 !important
}

.text-color-secondary{
    color: #3b3b3b !important
}

.text-color-details{
    color: #5B933A !important
}

.text-color-white{
    color: #ffffff !important
}

.text-color-ligth-details{
    color: #93B233 !important;
}

.text-link-details{
    color: #5B933A !important;
    text-decoration: underline;
}



.text-link-details:hover{
    color: #8cca68 !important;
}

/* Cores Texto */


/* Cores background */

.bg-color-primary{
    background-color: #304126 !important
}

.bg-color-details{
    background-color: #5B933A !important
}

.bg-color-details-op{
    background-color: #5b933a34 !important
}

.bg-color-secondary-op{
    background-color: #4b4b4b17 !important;
}







/* Cores background */




input{
    outline: none;
    border: none
}
  
input:focus{
    outline: none;
    border: none
}


.align-content-favorites{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.content-search-site{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-search-site .button-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #acacac;
    width: 80%;
    color: #3041267e;
}




.content-search-site .button-search:hover{
    background-color: #5b933a2c;
    color: #5B933A;
}

.content-search-site .button-search:focus{
    border-color: #3b3b3b;
    color: #3041267e;
}

.content-main-services{
    display: flex;
    flex-direction: column;
}

.content-title-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.service-favorite{
    display: flex;
    background-color: #5b933a1c;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none !important;
    width: fit-content;
    min-width: fit-content;
    flex-direction: column;
    justify-content: center;
}

.service-favorite:hover{
    background-color: #5b933a2f !important;
}

.info-service-favorite{
    color: #304126;
    text-decoration: none;
    margin: 2px 0px;
    padding: 5px 2px;
    border-radius: 5px;
    word-break: normal;
    word-wrap: normal;
}

.info-service-favorite i{
    color: #5B933A;
}

/* service found */

.list-services-found{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.service-found{
    display: flex;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none !important;
    width: fit-content;
    min-width: fit-content;
    flex-direction: column;
    justify-content: center;
    height: 45px;
    width: 100%;
    opacity: 100%;
    transition: 200ms;
}

.service-found:hover{
    margin-left: -5px;
    opacity: 75%;
    transition: 200ms;
}

.info-service-found{
    /* color: #5B933A; */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* service found */
.p-data{
    color: #93B233;
    font-size: 0.7rem;
}

.box-favorited{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: nowrap;
}

.box-scroll, .box-scroll-news{
    overflow-x: auto;
}

.box-scroll::-webkit-scrollbar, .box-scroll-news::-webkit-scrollbar {
    height: 3px;
}
  
.box-scroll::-webkit-scrollbar-thumb, .box-scroll-news::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #93B233
}

.btn-pin-active{
    border-radius: 50% !important;
    padding: 0px !important;
    z-index: 999 !important;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5B933A !important;
    background-color: #92b23338 !important;
    border: 1px solid #00000000 !important;
    transform: rotate(0deg);
}

.btn-pin-active i, .btn-pin-disable i{
    font-size: 0.9rem;
}

.btn-pin-active:hover{  
    background-color: #E0A5A9 !important;
    color: #B80A15 !important;
}

.btn-pin-active img{
    padding: 0px;
    margin: 0px;
}


.btn-pin-disable{
    border-radius: 50% !important;
    padding: 0px !important;
    z-index: 999 !important;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #646464ad !important;
    
    transform: rotate(45deg);

    background-color: #0000000e !important;
    border: 1px solid #00000000 !important;
}

.btn-pin-disable:hover{  
    background-color: #92b23338 !important;
    color: #5B933A !important;
}

.btn-pin-disable img{
    padding: 0px;
    margin: 0px;
}



.info-service-bar{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;    
}



.info-service-favorite h6{
    font-size: 0.9rem;
}


/* servicos atalho*/
.shortcut-top-services{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.info-service-shortcut{
    display: flex !important;
    text-decoration: none !important;
    font-size: 0.8rem;
    gap: 5px;
    justify-content: center;
    align-items: center;    
}

.link-top-services{
    display: flex;
    text-decoration: none;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: 200ms;
}

.link-top-services:hover{
    box-shadow: 0px 0px 0px 4px #5b933a34;
    border: 1px solid #cdcdcd;
    transition: 400ms;
}

.box-search-services{
    display: flex;
    background-color : #fff;
    padding: 5px 10px;
    border-radius: 5px;
    width: 60%;
    border: 1px solid #cdcdcd;

}


.box-search-services input{
    width: 100%;
}

.box-search-services button{
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: transparent;
}

.box-search-services button:hover{
    background-color: #cdcdcd36;
}

.search-filters{
    display: flex;
    gap: 10px;
}

.search-parameters{
    display: flex;
    gap: 5px;
    align-items: center;
    
}

.search-filters select{
    width: 40%;
}

.content-search-services{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-order-by{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 5px;
    max-width: 20%;
    border: 1px solid #cdcdcd !important; 
}

.btn-order-by:hover{
    border: 1px solid #5B933A !important;
}

.btn-order-by:focus{
    color: #fff !important;
    background-color: #5B933A !important;
}



.form-select:focus{
    border-color: #5B933A !important;
    box-shadow: 0 0 0 0.25rem #5b933a50 !important;
}

.service{
    display: flex;
    flex-direction: column-reverse;
    width : 100%;
    height: auto;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    /* background-color: #c9d8991e; */
    background-color: #5b933a1c;
    text-decoration: none;

    transition: 200ms;
}

.service:hover{
    transition: 200ms;
    background-color: #5b933a2f !important;
    /* padding-top: 5px; */
    /* box-shadow:  5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff; */
}

.info-service{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
    background-color: #00000000;
    
    border-top: 1px solid #00000015;
    border-bottom: 1px solid #00000015;
    
    justify-content: space-between;
    padding: 5px 15px;
}

.link-service{
    /* word-break: break-all; */
    color: #304126;
    text-decoration: none;
    margin-bottom: 5px;
    padding: 5px 0px;
    border-radius: 5px;
}

.link-service i{
    color: #5B933A;font-size: 1.5rem;
}

.link-service h6{
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

/* servicos atalho*/

.search-filters-mobile{
    display: none;
}

.placeholder-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-float{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.list-links-nav{
    background-color: #304126;
    color: #fff;
    list-style: none;
    display: flex;
    text-decoration: none;
    gap: 15px ;
    padding: 10px 25px;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 0;   
    width:fit-content;
}

.box-nav-links{
    display: flex;
    gap: 10px;
    width: 85%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.medias{
    display: flex;
    gap: 15px;
}


.medias a{
    color: #304126;
    font-size: 1.5rem;
    text-decoration: none;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.medias a:hover{
    background-color: #fff;
}

.icon-insta:hover{
    transition: 200ms;
    color: #c13584;
}

.icon-facebook:hover{
    transition: 200ms;
    color: #4267B2;
}

.icon-twitter:hover{
    transition: 200ms;
    color: #1DA1F2;
}

.navbar-desktop{
    /* background: linear-gradient(9deg, rgba(91,147,58,1) 21%, rgba(147,178,51,1) 100%); */
    background: #5b933a80;
    backdrop-filter: blur(2px);
    height: 281px;
    background: linear-gradient(9deg, #93b23380 1%, #5b933a80 100%);
    
}

.navbar-mobile{
    background: #5b933a80;
    backdrop-filter: blur(2px);
    background: linear-gradient(9deg, #93b23380 1%, #5b933a80 100%);
}

.navbar-background{
    background-image: url('img/background404.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 281px;
    z-index: -1 !important;
}

.nav-header img{
    max-width: 120px;
}

.nav-header{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

.nav-header h1{
    font-weight: 800;
    color: #fff;
    margin: 0;
    font-size: 2rem;

    line-height: 25px;
    
}

.nav-header h1 span{
    font-family: 'Pacifico', cursive;
    background-image: none;
    font-weight: 400;
    
    border-radius: 5px;
    color: #fff;
}

/* navbar mobile */

.navbar-mobile{
    display: none !important;
}

.link-nav-acessibilidade{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #ffffff1f;
    white-space: nowrap;
}

.link-nav-acessibilidade:hover{
    color: #fff;
    background-color: #d0e29b4d;
}

.link-nav-redirect{
    padding: 2px 5px;
    border: none;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
}

.link-nav-redirect:hover{
    color: #fff;
}

.list-links-nav li:hover{
    color: #e2f5aa;
    background-color: #ffffff1f;
    border-radius: 5px;
    
    
}


.nav-link{
    width: fit-content;
    padding: 10px 25px;
    color: #5B933A !important;
    padding: 10px 15px !important;
    padding-right: 0 !important;
}

.nav-link i{
    color: #5B933A;
    border-radius: 5px;
}

.nav-item{
    
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #0a290009;
    border-radius: 5px;
    transition: 200ms;
}

.nav-link{    
    padding-right: 10px !important;

    transition: 200ms;
}

.nav-item:hover {
    background-color: #6bb64059;
    
}

.offcanvas-body{
    display: flex;
    align-items: flex-start;
    width: fit-content !important;
    justify-content: flex-end;
}

.navbar-nav{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px !important;
}

.offcanvas-header{
    background-color: #5B933A;
    color: #fff;
}

.offcanvas-header button i{
    color: #fff;
    padding: 2px;
    font-size: 1rem;
}

.offcanvas-header button{

    background-color: #00000015;
    
}

/* alertas no conteúdo */

.content-alert{
    background-color: #92b2334b;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
}

.box-search-modal{
    border: 1px solid #acacac;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.box-search-modal input{
    width: 100%;
}

/* notícias */

.scroll-news{
    display: flex;
    gap: 15px;
    width: 100vw;
    padding: 20px;
    overflow-y: hidden;
}

.box-news {
    border-radius: 5px;
    border: 1px solid #cdcdcd;
    min-width: 350px ;
    width: 100%;
    max-height: 270px;
    text-decoration: none;
}

.box-news:hover h1{
    color: #5B933A !important;
    transition: 200ms;
}

/* .box-news:hover img{
    height: 150px;
    transition: 400ms;
} */


.box-news .tag-new{
    position: relative;
    border-radius: 5px 5px 5px 0px;
    width: fit-content;   
    margin-top: -20px;
}

.box-news img{
    width: 100%;
    transition: 200ms;
    height: 120px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.box-news .content-news h1{
    color: #304126;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 0px 2px 0px;
    margin: 0;
}
.box-news .content-news p{
    color: #acacac;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 0px 0px;
    margin: 0;
}

.content-news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.content-all-news h1{
    font-size: 1rem;
    color: #5B933A;

}

.content-all-news{
    display: flex;
    justify-content: center;
}

/* notícias */

.box-stories{
    display: flex;
    flex-direction: row;
    gap: 10px;    
}

.ad-story{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ad-story div img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 3px;
    border: 2px solid #93B233;
}


.box-img{
    width: 20%;
    height: 250px;
}

.box-img img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #acacac62;
}
